// Define font sizes for body and h1 elements
body {
    // Default font size for body
    font-size: 14px;
  
    // Font size for h1 tags inside body
    h1 {
      font-size: 16px;
  
      // Font size for h1 tags with class .smaller inside body
      &.smaller {
        font-size: 12px;
      }
    }
  }
  